@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* max-width: 320px (điện thoại di động, hiển thị chiều dọc)
max-width: 480px (điện thoại di động, hiển thị chiều ngang)
max-width: 600px (máy tính bảng, hiển thị chiều dọc)
max-width: 800px (máy tính bảng, hiển thị chiều ngang)
max-width: 768px (máy tính bảng loại to, hiển thị chiều dọc)
max-width: 1024px (máy tính bảng loại to, hiển thị chiều ngang)
min-width: 1025px (từ size này trở lên là danh cho desktop thông thường).
 */
/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
.header__topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #e7e5e5;
  height: 25%;
}

.header__topbar .topbar__socials {
  font-size: 14px;
}

.header__topbar .topbar__socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

.header__topbar .topbar__socials ul li {
  list-style: none;
  padding-left: 1em;
  padding-top: 0.8em;
}

.header__topbar .topbar__socials ul li a {
  color: #E68E0D;
}

.header__topbar .topbar__contact {
  display: none;
}

.header__topbar .topbar__custom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
}

.header__topbar .topbar__custom ul li {
  list-style: none;
  padding-top: 0.8em;
  float: left;
}

.header__topbar .topbar__custom ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  margin-left: 0.5em;
  color: #fff;
}

.header__topbar .topbar__custom ul li a span {
  display: none;
}

.header__topbar .topbar__custom ul li a i {
  padding-top: 0.2em;
  padding-left: 0.2em;
  color: #E68E0D;
}

.header__topbar .topbar__custom ul li a:hover {
  color: #E68E0D;
}

.header__topbar .topbar__custom ul li .dropdown-menu {
  left: -3em !important;
}

.header__topbar .topbar__custom ul li .dropdown-menu .dropdown-item {
  color: black;
}

@media only screen and (min-width: 576px) {
  .header__topbar .topbar__custom ul li a span {
    display: inline-block;
  }
}

@media only screen and (min-width: 992px) {
  .header__topbar .topbar__contact {
    display: inline-block;
  }
  .header__topbar .topbar__contact ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    clear: both;
  }
  .header__topbar .topbar__contact ul li {
    list-style: none;
    padding-top: 3px;
    padding-right: 0.5em;
  }
  .header__topbar .topbar__contact ul li .form-control {
    width: 100%;
    background: #584fd629;
    color: #E68E0D;
    padding: 0 2px;
    font-size: 14px;
  }
  .header__topbar .topbar__contact ul li .btn {
    color: #fff;
    border: none !important;
    font-size: 14px;
  }
  .header__topbar .topbar__custom ul {
    float: right;
  }
  .header__topbar .topbar__custom ul li {
    margin-right: 0.5em;
  }
  .header__topbar .topbar__custom ul li a {
    margin: 0;
  }
}

@media only screen and (min-width: 1280px) {
  .header__topbar .topbar__socials {
    font-size: 20px;
  }
  .header__topbar .topbar__socials ul li {
    padding-top: 0.3em;
  }
  .header__topbar .topbar__contact {
    display: inline-block;
  }
  .header__topbar .topbar__custom {
    margin-left: 0;
  }
  .header__topbar .topbar__custom ul {
    float: right;
  }
}
/*# sourceMappingURL=topbar.css.map */