.download{
    display: block;
    background-color: #F2F5F9;
    margin: 2em auto;;
    width: 100%;
    &__title{
        margin: 0 auto;
        text-align: center;
        .heading__title{
            padding-top: 20px;
            font-size: 2em;
            font-weight: $fw-bold-6;
            color:$color-title;
        }
        .title__line{
            display:inline-block;
            position: relative;
            margin-bottom: 8px;
            &::before{
                position: absolute;
                content: "";
                width: 30px;
                height: 2px;
                background: #5f80bd;
                left: -30px;
                top: 12px;
            }
            &::after{
                position: absolute;
                content: "";
                width: 30px;
                height: 2px;
                background: #5f80bd;
                right: -31px;
                top: 12px;
            }
            }
            .line__icon{
                background-color: $color-line-title;
                width: 0.5rem;
                 height: 0.5rem;
                 display: inline-block;
                 position: relative;
                 -webkit-transform: rotate(45deg);
                         transform: rotate(45deg);     
            }
            p{
                text-align: center;
                font-size: 16px;
                margin-bottom: 0;
                color: #6a86a9;
            }
        }
        .download__btn{
            width: 80%;
            margin: 2em auto;
            display: grid;
            grid-template-columns: repeat(2,1fr);    
            .item__btn{
               .btn{
                     width: 10em ;
                     height: 3em ;
               }
               &:nth-child(3){
                 padding-top: 1em;
               }
            }
        }
    } 
// 576px
  @include responsive_tablet(){ 
    .download{  
      .download__btn{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        .item__btn{
            &:nth-child(3){
              padding-top: 0;
            }
         }     
      }  
    }  
}        
 // 768px
 @include responsive_tablet_large(){
}
// 992px
@include responsive_desktop(){
    .download{  
        .download__btn{
         width: 60%;   
        }  
      }  
}
// 1280px
@include responsive_desktop_large(){ 
    .download{  
        .download__btn{
         width: 40%;   
        }  
      }  
}    